# Last match in file takes precedence.

# Ping for all PR's
* @BL02DL

# Prototypes
*.yml @MegaDaimond @BL02DL

# C#
*.cs @BL02DL @SpicyDarkFox
*.xaml @BL02DL @SpicyDarkFox

# Map files
/Resources/Prototypes/Maps/** @PowerKAT1 @BL02DL
/Resources/Prototypes/**/Maps/** @PowerKAT1 @BL02DL
/Resources/Maps/** @PowerKAT1 @BL02DL

# Translations
*.ftl @PowerKAT1 @Evgencheg

# Guides
*.xml @PowerKAT1 @BL02DL
