name: Publish

concurrency:
  group: publish
  cancel-in-progress: true

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
      with:
        submodules: 'recursive'

    - name: Download parts
      if: ${{ vars.SECRETSLINK != '' }}
      run: |
        git clone ${{ secrets.SECRETS }}
        mv NewSecrets/PResources/PPrototypes Resources/Prototypes/
        mv NewSecrets/PResources/PTextures Resources/Textures/
        mv NewSecrets/PShared Content.Shared/PShared
        mv NewSecrets/PServer Content.Server/PServer
        mv NewSecrets/PClient Content.Client/PClient

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.1.0
      with:
        dotnet-version: 10.0.x

    - name: Get Engine Tag
      run: |
        cd RobustToolbox
        git fetch --depth=1

    - name: Install dependencies
      run: dotnet restore

    - name: Build Packaging
      run: dotnet build Content.Packaging --configuration Release --no-restore /m

    - name: Package server
      run: dotnet run --project Content.Packaging server --platform win-x64 --platform linux-x64

    - name: Package client
      run: dotnet run --project Content.Packaging client --no-wipe-release

    - name: Publish version
      run: Tools/publish_multi_request.py
      env:
        PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        GITHUB_REPOSITORY: ${{ vars.GITHUB_REPOSITORY }}
        FORK_ID: ${{ vars.FORK_ID }}

    #    - name: Publish changelog
    #      run: Tools/actions_changelogs_since_last_run.py
    #      env:
    #        CHANGELOG_DIR: ${{ vars.CHANGELOG_DIR }}
    #        CHANGELOG_WEBHOOK: ${{ secrets.CHANGELOG_WEBHOOK }}
    #        GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}

    - uses: geekyeggo/delete-artifact@v5
      if: always()
      with:
        name: build
