name: YAML Linter Secrets

on:
  push:
    branches: [ master, staging, stable ]
  merge_group:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  build:
    name: YAML Linter Secrets
    if: ${{ vars.SECRETSLINK != '' && github.actor != 'PJBot' && github.event.pull_request.draft == false && github.actor != 'Lost-Paradise-Bot' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.6.0
    - name: Setup submodule
      run: |
        git submodule update --init --recursive
    - name: Download parts
      run: |
        git clone ${{ secrets.SECRETS }}
        mv NewSecrets/PResources/PPrototypes Resources/Prototypes/
        mv NewSecrets/PResources/PTextures Resources/Textures/
        mv NewSecrets/PShared Content.Shared/PShared
        mv NewSecrets/PServer Content.Server/PServer
        mv NewSecrets/PClient Content.Client/PClient
    - name: Pull engine updates
      uses: space-wizards/submodule-dependency@v0.1.5
    - name: Update Engine Submodules
      run: |
        cd RobustToolbox/
        git submodule update --init --recursive
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: 9.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore /p:WarningsAsErrors= /m
    - name: Run Linter
      run: dotnet run --project Content.YAMLLinter/Content.YAMLLinter.csproj --no-build
